.name-list {
    margin-top: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .name-item {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .name-item:last-child {
    border-bottom: none;
  }
  